body {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    text-align: center;
}
#container {
    background-color: #003049;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #003049;
}

/* @media (min-width: 600px ) and (max-width: 800px){
    h1{
        color: purple;
    }
} */

