<!DOCTYPE html>
<html lang="en">
<%- include('partials/header.ejs') %> 
<body>
    <h1>HomePage <%= "fuckyou".toUpperCase() + (1+2+3) %> </h1>
    <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis qui neque architecto at, ut recusandae delectus dignissimos unde fugit ipsam, exercitationem, accusamus id voluptatem nesciunt illum ex dolore sed amet.
    </p>
</body>
</html>