<%- include('partials/header.ejs') %> 
<body>
    <h1>Your Random Number <%= num %> </h1>
    <% if (num%2 === 0) {%>
        <h2>that is an even number</h2>
    <% } else { %>
        <h2>that is an odd number</h2>
    <% } %> 
    <h2>that is an <%= num%2===0 ? "EVEN":"ODD" %> number! </h2>
</body>
</html>